/* =============Grid Page Css============= */

#grid {
    font-size: 1.1em;
    color: #fff;
    text-align: center;
    min-height: 30px;
    padding: 0 3em;

    .row .column:nth-child(n) {
        background: #48A9A6;
        min-height: 30px;
        padding: 10px 0;
    }
    .row .column:nth-child(2n) {
        background: #4281A4;
        min-height: 30px;
        padding: 10px 0;
    }
    h2 {
        margin: 2em 0 1.5em;
    }
    .shaded.examples .row {
        position: relative;
    }
    .shaded.examples .grid>.column {
        position: relative;
        z-index: 11;
    }
    .divided.examples .grid .column:not(.row):after {
        background-color: #1f364f;
        content: "";
        display: block;
        min-height: 30px;
    }
    .nested.examples .grid .grid {
        box-shadow: 0 0 0 1px #AAA inset;
    }
    .simple.examples .grid .column:not(.row):not(.grid):after {
        content: "";
        display: block;
        min-height: 30px;
    }
    .shaded.examples .grid .column:not(.row):after,
    .nested.examples .grid .grid .column:after {
        background-color: #FFF;
        box-shadow: 0 0 0 1px #DDD inset;
        content: "";
        display: block;
        min-height: 30px;
    }
}
/* =============Grid Page Css============= */