@import "extra_colors";
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}
html,
body {
    min-height: 100%;
    height: 100%;
    background: #f1f4f5;
}
html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
    height: initial !important;
}
.pusher {
    min-height: 100%;
    height: 100%;
    position: relative;
}
.fullheight {
    height: 100%;
    min-height: 810px;
}


.ui.menu .dropdown.item .menu {
    min-width: 180px;
}
.tabmenu {
    display: flex !important;
    padding: 0 !important;
}
.error404 {
    /*background: url(../img/404.png) no-repeat top center #6a8733 !important;*/
    background-size: cover;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.sidemenu {
    background: #333c44;
}
html {
    /*font-size: 12px!important;*/
}
a.item.transition {
    margin-left: 30px;
}
.content > a.item{
    margin-left: 30px;
}
.content > a.item > i.icon{
    float:left;
}
.sidemenu .item {
    color: rgba(224, 219, 219, 0.9);
}
.ui.left.sidebar,
.ui.right.sidebar {
    /*width: 190px;*/
}

.hiddenCollapse .statistics .label {
    opacity: 0.5;
}

// Clearfix
@import "clearfix";

// Grid
@import "grid";

// Mobile
@import "mobile";

// Profile
@import "profile";

// Settings
@import "settings";

// Sidebar
@import "sidebar";

// Timeline
@import "timeline";

// Typography
@import "typography";