/* MOBIL PAGE SETTINGS*/
/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    .colhidden {
        display: block
    }
    .computer .only {
        display: block;
    }
    #radios {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .row .column {
        margin-bottom: 20px!important;
    }
    .ui .buttons {
        display: inline!important;
    }
    .ui .buttons .button {
        margin-bottom: 10px;
    }
    .hiddenui {
        display: none!important;
    }
    .ui.menu .dropdown.item .menu {
        height: 100%;
        min-height: 15em;
    }
    .ui .breadcrumb .section {
        margin-bottom: 15px;
    }
    .ui .label {
        margin-bottom: 10px!important;
    }
    .ui.compact.selection.dropdown {
        margin-bottom: 10px!important
    }
    .chat-history {
        overflow-y: scroll!important;
    }
    .icon.link {
        margin-bottom: 10px!important
    }
    .ui.toggle.checkbox,
    .ui.slider.checkbox {
        margin-bottom: 10px
    }
    #data_table_filter,
    #data_table_info,
    #data_table_paginate {
        display: none!important
    }
    #data_table thead tr th {
        width: 90%!important;
        min-height: 25px!important
    }
    .colhidden {
        display: none!important
    }
    #radios {
        width: 100%;
    }
}
/* MOBIL PAGE SETTINGS*/
