/* =============Some Settings=========== */

.ui.vertical.divider {
    left: 50% !important;
}
.filtr-item img {
    width: 100px;
}
.marginlefting {
    margin-left: 60px !important;
}
.displaynone {
    display: none !important;
}
.displayblock {
    display: block !important;
}
.sidebar .item i {
    font-size: 20px;
    margin-top: -5px !important;
}
.left.sidebar {
    overflow-y: auto !important;
}
.logo {
    /*height: 57px;
    /*background-color: #fff!important;*/
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.logo img {
    width: 100% !important;
    height: auto;
}
.title.item {
    padding: .92857143em 1.14285714em !important;
}
.dropdown .menu .header {
    padding-top: 3.9px !important;
    padding-bottom: 3.9px !important;
}
.titleIcon {
    float: left !important;
    margin: 0 10px 0 0 !important;
}
.sidebar::-webkit-scrollbar {
    display: none !important;
}
.ui.sidebar.very.thin.icon {
    overflow: visible !important;
}
.navslide {
    margin-left: 260px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.mainWrap {
    background: #f1f4f5;
    min-height: 100%;
    position: relative;
}
.mainWrap .segment {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.pusher .navslide.navwrap .menu {
    border-radius: 0;
    border: 0;
}
.title .dropdown.icon {
    margin-top: 0px !important;
}
.flotchart {
    width: 100%;
    height: 100px;
}
.flotvisitor {
    width: 100%;
    height: 300px;
}
.statisticIcon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px !important;
    margin-right: 5px !important;
    font-size: 4em !important;
}
.column p .wi {
    font-size: 1.5em !important;
    color: #ff6a00;
}
.ass {
    border-radius: 50% !important;
}
.flotTip {
    font-size: 12px !important;
    background-color: #1f364f !important;
    color: #fff;
    padding: 5px 8px !important;
    z-index: 900 !important;
    border-radius: 3px !important;
}
.ui.right.sidebar {
    background: #fff;
}
.ui.right.sidebar .tab {
    padding: 10px;
    min-height: 100%
}
.ui.tabular.menu {
    margin-bottom: 0;
}
.ui.button,
.ui.buttons,
.ui.label,
.ui.labels,
.ui.input {
    margin-bottom: 10px;
}
/* =============Some Settings=========== */