/* =============Sidebar,Navbar Change Color List============= */

.ui.inverted.menu .router-link-exact-active.item {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff !important;
}

.colorlist,
.sidecolor {
    float: left !important;
    text-align: left !important;
    -webkit-padding-start: 0 !important;
    list-style: none;
    max-width: 180px;
}
.colorlist li,
.sidecolor li {
    float: left;
    cursor: pointer;
    margin: 1px;
}
.colorlist li a,
.sidecolor li a {
    width: 10px;
    height: 10px;
    display: block;
}
.colorwrap .row .column .segment {
    min-height: 268px;
}
.colorwrap .row .column .segment p {
    font-size: 1.6em;
}
/* =============Sidebar,Navbar Change Color List============= */