<template>
    <div :class="css + ' field'">
        <label>{{ label }}</label>
    <div class="ui checkbox">
        <input type="checkbox" v-model="model[property]" :value="value">
        <label></label>
    </div>
</div>
</template>
<script type="text/javascript">
export default{
    props: {
        css: { 
            type: String, 
            default: ''
        }, 
        label: { 
            type: String, 
            default: ''
        }, 
        value: {
            default: 1
        },
        model: Object,
        property: String,
    },
}
</script>