<template>
    <div :class="css + ' field'">
        <label>{{ label }}</label>
        <flat-pickr v-model="model[property]" :config="config" class="form-control">
        </flat-pickr>
    </div>
</template>
<script type="text/javascript">

import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import {Italian} from 'flatpickr/dist/l10n/it'

export default{

    props: {
        css: { 
            type: String, 
            default: ''
        },
        label: { 
            type: String, 
            default: ''
        },
        model: Object,
        property: String,
    },

    data: () => {
        return { 
            config: {
                altFormat: 'd/m/Y H:i',
                altInput: true,
                dateFormat: 'Y-m-d H:i:S',
                enableTime: true,
                locale: Italian,
                allowInput: true,
                time_24hr: true,
            },
        }
    },

    components: {
        flatPickr
    }
}
</script>