<template>
    <div :class="css + ' field'">
        <label>{{ label }}</label>
        <div :id="'dropdown-'+property" class="ui search selection dropdown">
            <i class="dropdown icon"></i>
            <span class="text"></span>
            <div class="menu">
                <div class="item active selected" data-value="" @click="select(null)"></div>
                <div v-for="(option, index) in options" class="item" :data-value="k ? option[k] : index"  @click="k ? select(option[k]) : select(index)">{{ k ? option[v] : option }}</div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
export default{
    props: {
        css: { 
            type: String, 
            default: ''
        }, 
        label: { 
            type: String, 
            default: ''
        },
        model: Object,
        property: String,
        options: [Array, Object], 
        k: String,
        v: String,
        change: Function,
    },
    methods: {
        select(value){
            this.model[this.property] = value
        }
    },
    mounted(){
        $('#dropdown-'+this.property).dropdown({onChange: this.change}).dropdown('set selected', this.model[this.property])
    }
}
</script>