<template>
    <div :class="css + ' field'">
        <label>{{ label }}</label>
        <input class="right aligned" type="number" :min="min" :max="max" :step="step" v-model="model[property]">
    </div>
</template>
<script type="text/javascript">

export default {
    props: {
        css: { 
            type: String, 
            default: ''
        }, 
        label: { 
            type: String, 
            default: ''
        }, 
        min: {
            type: Number,
            default: 0
        },
        max: {
            type: Number,
            default: null
        },
        step: {
            type: Number,
            default: 1
        },
        model: Object,
        property: String,
    },
}
</script>