<template>
    <div :class="css + ' field'">
        <label>{{ label }}</label>
        <textarea :rows="rows" v-model="model[property]"></textarea>
    </div>
</template>
<script type="text/javascript">
export default{
    props: {
        css: { 
            type: String, 
            default: ''
        },
        label: { 
            type: String, 
            default: ''
        }, 
        rows: {
            type: Number,
            default: 3
        },
        model: Object,
        property: String,
    },
}
</script>