<template>
    <div :class="css + ' field'">
        <label>{{ label }}</label>
        <input type="text" v-model="model[property]">
    </div>
</template>
<script type="text/javascript">

export default {
    props: {
        css: { 
            type: String, 
            default: ''
        },
        label: { 
            type: String, 
            default: ''
        },
        model: Object,
        property: String,
    },
}
</script>