<template>
    <div id="login">
        <div class="ui container" style="padding-top:10%">
            <div class="ui grid center aligned">
                <div class="row">
                    <div class="sixteen wide tablet six wide computer column">
                        <div class="ui left aligned segment">
                            <div class="ui form">
                                <h1 class="ui header center aligned">
                                    <img src="../assets/logo.png" alt="logo" class="ui image" style="width: auto;">
                                    <div class="content">
                                    </div>
                                </h1>
                                <div class="field">
                                    <label>
                                        Username:
                                    </label>
                                    <div class="ui fluid icon input">
                                        <input v-model="user.username" type="text">
                                        <i class="icon user outline"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>
                                        Password:
                                    </label>
                                    <div class="ui fluid icon input">
                                        <input v-model="user.password" type="password">
                                        <i class="icon key"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <button class="ui teal right labeled icon button fluid" @click="login">
                                        Login
                                        <i class="icon sign in"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        loading: false,
        user: {
            username: '',
            password: '',
        },
    }),

    methods: {
        login() {
            this.loading = true
            this.$store
                .dispatch('authentication/login', this.user)
                .then(() => {
                    this.loading = false
                    this.$router.push('/')
                })
        },
    },
}
</script>
<style scoped lang="css">
#login {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}
</style>
