<template>
    <div>
        <sidebar></sidebar>
        <div class="pusher pushable">
            <toolbar></toolbar>
            <div class="mainWrap navslide">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
import '@/sass/app.scss'
export default {
    name: 'Thoth',
}
</script>
