<template>
    <div class="scrolling content">
        <ckeditor v-model="document.body" :editor="editor" :config="config" class="form-control"></ckeditor>
    </div>
</template>
<script type="text/javascript">

import { mapState, mapGetters } from 'vuex'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default{

    computed: {
        ...mapState('document', ['document']),
        ...mapState('app', ['user']),
    },

    data: () => {
        return {
            editor: ClassicEditor,
            config: {
                toolbar: [ 'bold', 'italic', 'bulletedList', 'numberedList' ],
            }
        }
    },

    methods: {
    },
}
</script>