<i18n>
    {
        "en": 
        {
            "info": "Info",
            "body": "Body",
            "files": "Files",
            "delete": "Are you sure you want to delete the document?"
        },
        "it": 
        {
            "info": "Info",
            "body": "Corpo",
            "files": "File",
            "delete": "Sicuro di voler eliminare il documento?"
        }
    }
</i18n>
<template>
    <div :id="this.name+'-modal'" class="ui modal">
        <div class="ui content form equal width left aligned padded grid stackable">
            <div class="sixteen wide tablet two wide computer column">
                <div class="ui vertical secondary pointing fluid tabular menu">
                    <a class="item active" @click="component('info')">
                        {{ $t('info') }}
                    </a>
                    <a class="item" @click="component('bodi')">
                        {{ $t('body') }}
                    </a>
                    <a class="item" @click="component('files')">
                        {{ $t('files') }}
                    </a>
                    <a class="item" @click="component('tags')">
                        Tag
                    </a>
                </div>
            </div>
            <div class="sixteen wide tablet thirteen wide computer column">
                <component v-bind:is="tab" v-if="document._id"></component>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive button" @click="save">Salva</div>
            <div v-if="!document.number" class="ui red button" @click="destroy">Elimina</div>
        </div>
    </div>
</template>
<script type="text/javascript">

import { mapState } from 'vuex'
import swal from 'sweetalert2'

import Info from './Info'
import Bodi from './Body'
import Files from './Files'
import Tags from './Tags'

export default{

    props: ['id', 'reset'],

    data: () => {
        return {
            loaded: false,
            name: 'document',
            tab: 'info',
        }
    },

    components: {
        Info,
        Bodi,
        Files,
        Tags,
    },

    computed: {
        ...mapState('document', ['document']),
        ...mapState('app', ['user']),
    },

    watch: {
        id(){
            if(this.id){
                this.show()
            }
        }
    },

    methods: {
        component(tab) {
            this.tab = tab
            $('#document-modal .tabular.menu .item').removeClass('active')
            $(event.target).addClass('active')
        },
        toast( { type, title, position } ) {
            position = position ? position : 'top-end'
            swal({
                type: type,
                title: title,
                toast: true,
                position: position,
                showConfirmButton: false,
                timer: 3000,
            })
        },
        error(message) {
            swal({
                type: 'error',
                title: 'Error!',
                text: message,
            })
            $('#' + this.name + ' button').prop("disabled", false)
        },

        save() {
            $('#' + this.name + ' button').prop("disabled", true)
            this.$store.dispatch( this.name +'/save' ).then(response => {
                $('#' + this.name + ' button').prop("disabled", false)
                $('#' + this.name + '-modal').modal('hide') 
                this.reset
                this.toast({ type: 'success', title: 'Salvato!', position: 'top-end' })
            }, error => {
                this.error(error.response.data.message)
            })
        },

        destroy() {
            swal({
                text: this.$t('delete'),
                type: 'question',
                showCancelButton: true,
            }).then( response => {
                if(!response.dismiss){
                    $('#' + this.name + ' button').prop("disabled", true)
                    this.$store.dispatch( this.name +'/destroy' ).then( response => {
                        $('#' + this.name + '-modal').modal('hide') 
                    }, error => {
                        this.error(error.response.data.message)
                    })
                }
            })
        },
        show(){
            this.$store.dispatch( 'document/document', this.id ).then( response => {
                this.component('info')
                $('#' + this.name + '-modal').modal('show') 
            }, error => {
                this.error(error.response.data.message)
            })
        }
    },
    mounted(){
        this.$i18n.locale = this.user.locale
        $('#' + this.name + '-modal').modal({
            autofocus: false,
            onHidden: this.reset
        })
    }
}
</script>