<i18n>
    {
        "en": 
        {
            "number": "Number",
            "date": "Date",
            "from": "From",
            "to": "To",
            "subject": "Subject",
            "direction": "Direction"
        },
        "it": 
        {
            "number": "Numero",
            "date": "Data",
            "from": "Mittente",
            "to": "Destinatario",
            "subject": "Oggetto",
            "direction": "Direzione"
        }
    }
</i18n>
<template>
    <table id="table-documents" class="ui table tablet stackable">
        <thead>
            <tr>
                <th class="one wide right aligned">{{ $t('number') }}</th>
                <th class="one wide">{{ $t('direction') }}</th>
                <th class="one wide right aligned">{{ $t('date') }}</th>
                <th class="three wide">{{ $t('from') }}</th>
                <th class="three wide">{{ $t('to') }}</th>
                <th class="">{{ $t('subject') }}</th>
            </tr>
        </thead>
        <tr v-for="{ _id, number, year, direction, date, from, mail_from, to, mail_to, subject } in slice" @click="show(_id)" :class="_id == document._id ? 'selected' : ''">
            <td class="right aligned">{{ number ? number +'/'+ year : ''}}</td>
            <td>{{ direction }}</td>
            <td class="right aligned">{{ date | moment('DD/MM/YYYY') }}</td>
            <td>{{ from ? from : (mail_from ? mail_from.join('\n') : '') }}</td>
            <td>{{ to ? to : (mail_to ? mail_to.join('\n') : '') }}</td>
            <td>{{ subject }}</td>
        </tr>
    </table>
</template>
<style type="text/css" scoped>
    tr{
        cursor: pointer
    }
    tr.selected{
        background-color: rgb(232, 240, 254);
        color: rgb(25, 103, 210);
    }
    tr:hover{
        background-color: rgb(242, 250, 254);
        color: rgb(25, 103, 210);
    }
</style>
<script type="text/javascript">

import { mapState, mapGetters } from 'vuex'

export default{

    props: ['documents', 'options', 'show'],

    data: () => {  
        return {
            pagination: 50,
            page: 1,
            documentId: null,
        }
    },

    computed: {
        ...mapState('app', ['user']),
        ...mapState('document', ['document']),
        slice (){
            return this.documents.slice(0, this.page * this.pagination)
        },
    },

    mounted() {
        this.$i18n.locale = this.user.locale
        $('#table-documents').visibility({
            once: false,
            observeChanges: true,
            onBottomVisible: (calculations) => {
                this.page * this.pagination < this.documents.length && this.page++
            }
        })
    },

}
</script>