<i18n>
    {
        "en":
        {
            "direction": "Direction",
            "in": "Incoming",
            "out": "Outgoing",
            "intern": "Intern",
            "registered": "Registered"
        },

        "it":
        {
            "direction": "Direzione",
            "in": "Entrata",
            "out": "Uscita",
            "intern": "Interno",
            "registered": "Protocollati"
        }

    }
</i18n>
<template>
    <div id="documents" style="min-height: 500px;">
        <div class="ui equal width left aligned padded grid stackable">
            <div class="five wide column">
                <div class="ui fluid icon input">
                    <input type="text" placeholder="Search..." v-model="query" @keyup.enter="search">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="five wide column">
                <select id="filter-tags" class="ui fluid search selection dropdown" v-model="tag">
                    <option v-for="tag in tags" :value="tag.toLowerCase()">{{ uppercase(tag) }}</option>
                </select>
            </div>
            <div class="column">
                <selectbox :id="'year'" :icon="'calendar check outline'" :elements="years" :select="set_year"></selectbox>
                <selectbox :id="'direction'" :label="$t('direction')" :icon="'folder outline'" :elements="directions" :select="set_direction"></selectbox>
                <check :id="'new'" :label="$t('registered')" :change="show_registered"></check>
            </div>
            <div class="sixteen wide column">
                <table-vue :documents="docs" v-bind=" { show } "></table-vue>
            </div>
        </div>
        <document v-bind="{ id, reset }"></document>
    </div>
</template>

<script type="text/javascript">
import _ from 'lodash'
import { mapState } from 'vuex'
import TableVue from  './DocumentsTable'
import Document from './Document'

export default{
    data: () => {
        return {
            id: null,
            registered: false,
            query: '',
            tag: '',
        }
    },

    components: {
        TableVue,
        Document,
    },

    computed: {
        ...mapState('app', ['user']),
        ...mapState('document', ['documents', 'document', 'years', 'year', 'filters', 'sorting', 'tags']),
        docs(){
            return _.filter(this.documents, document => {
                return (this.registered ? document.number > 0 : !document.number) &&
                (this.filters.direction ? (document.direction ? document.direction.toUpperCase() == this.filters.direction.toUpperCase() : false) : true)
                
            })
            .sort((a,b) => ( a.date > b.date ? -1 : (a.date == b.date ? (a.number < b.number) : 1) ))
        },
        directions(){
            return {
                in: this.$t('in'),
                out: this.$t('out'),
                intern: this.$t('intern'),
            }
        },
    },

    watch: {
        tag(){
            this.$store.dispatch( 'document/byTag', this.tag ).catch( error => this.error(error.response.data.message) )
        }
    },

    methods: {
        search(){
            if(this.query){
                this.$store.dispatch( 'document/search', this.query ).catch( error => this.error(error.response.data.message) )
            }else{
                this.$store.dispatch( 'document/year', this.year ).catch( error => this.error(error.response.data.message))
            }
        },
        uppercase(tag){
            return tag.toLowerCase().split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ')
        },
        show_registered(){
            this.registered = !this.registered
        },
        set_year(year){
            this.$store.dispatch( 'document/year', this.years[year] ).catch( error => this.error(error.response.data.message))
        },
        set_direction(direction){
            this.$store.dispatch( 'document/filter', { type: 'direction', value: direction } )
        },
        show(id){
            this.id = id
        },
        reset(){
            this.id = null
            this.$store.dispatch( 'document/reset' )
        },
    },

    mounted(){
        this.$i18n.locale = this.user.locale
        this.$store.dispatch( 'document/years' )
        let year = this.year ? this.year : (new Date()).getFullYear()
        this.$store.dispatch( 'document/tags' ).then(() => {
            $('#filter-tags').dropdown()
        })
        this.$store.dispatch( 'document/year', year ).then( response => {
            $('#year').dropdown('set exactly', this.year)
        }, error => this.error(error.response.data.message))
    },

}

</script>