<i18n>
    {
        "en": 
        {
            "archive": "Archive"
        },
        "it": 
        {
            "archive": "Archivio"
        }
    }
</i18n>
<template>
    <div class="ui relaxed divided list">
        <div class="item">
            <i class="large cloud download middle aligned icon"></i>
            <div class="content">
                <a class="header" @click="download()">{{ $t('archive') }}</a>
            </div>
        </div>
        <div v-for="(attachment, index) in document.attachments" class="item">
            <i class="large download middle aligned icon"></i>
            <div class="content">
                <a class="header" @click="download(index)">{{ attachment.filename }}</a>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">

import { mapState } from 'vuex'
import swal from 'sweetalert2'

export default{
    computed: {
        ...mapState('document', ['document']),
        ...mapState('app', ['user']),
    },
    methods: {
        error(message) {
            swal({
                type: 'error',
                title: 'Error!',
                text: message,
            })
        },
        download(index){
            this.$store.dispatch( 'document/download', index ).then(response => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', response.headers.filename);
                document.body.appendChild(link);
                link.click();
            }, error => {
                this.error(error.response.data.message)
            })
        }
    },
    mounted(){
        this.$i18n.locale = this.user.locale
    }
}
</script>