<i18n>
    {
        "en": 
        {
            "number": "Number",
            "direction": "Direction",
            "from": "From",
            "to": "To",
            "register": "Register",
            "date": "Date",
            "time": "Time",
            "in": "Incoming",
            "out": "Outgoing",
            "intern": "Intern",
            "subject": "Subject",
            "received_at": "Received at",
            "mail_from": "Mail from",
            "mail_to": "Mail to",
            "date_format": "YYYY-MM-DD",
            "datetime_format": "YYYY-MM-DD HH:mm"
        },
        "it": 
        {
            "number": "Numero",
            "direction": "Direzione",
            "from": "Mittente",
            "to": "Destinatario",
            "register": "Protocollare",
            "date": "Data",
            "time": "Ora",
            "in": "Entrata",
            "out": "Uscita",
            "intern": "Interno",
            "subject": "Oggetto",
            "received_at": "Ricevuta il",
            "mail_from": "Mittente mail",
            "mail_to": "Destinatario mail",
            "date_format": "DD/MM/YYYY",
            "datetime_format": "DD/MM/YYYY HH:mm"
        }
    }
</i18n>
<template>
    <div>
        <h3 v-if="document.number">{{ document.number }}/{{ document.direction }} {{ document.date | moment($t('date_format')) }}</h3>
        <div class="fields">
            <checkbox v-if="!document.number" :model="document" :property="'register'" :label="$t('register')"></checkbox>
            <dropdown v-if="!document.number" :label="$t('direction')" :model="document" :property="'direction'" :options="directions"></dropdown>
        </div>
        <div class="fields">
            <div class="field">
                <label>{{ $t('from') }}</label>
                <input type="text" v-model="document.from" >
            </div>
            <div class="field">
                <label>{{ $t('to') }}</label>
                <input type="text" v-model="document.to" >
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <label>{{ $t('received_at') }}</label>
                <span>{{ document.mail_date | moment($t('datetime_format')) }}</span>
            </div>
            <div class="field">
                <label>{{ $t('mail_from') }}</label>
                <span>{{ document.mail_from.join(', ') }}</span>
            </div>
            <div class="field">
                <label>{{ $t('mail_to') }}</label>
                <span>{{ document.mail_to.join(', ') }}</span>
            </div>
        </div>
        <div class="field">
            <label>{{ $t('subject') }}</label>
            <input type="text" v-model="document.subject" >
        </div>
    </div>
</template>
<script type="text/javascript">
import { mapState, mapGetters } from 'vuex'
import swal from 'sweetalert2'

export default{

    computed: {
        ...mapState('document', ['document']),
        ...mapState('app', ['user']),
        readonly(){
            return this.document.number ? true : false
        },
        directions(){
            return {
                IN: this.$t('in'),
                OUT: this.$t('out'),
                INTERN: this.$t('intern'),
            }
        },
    },

    mounted(){
        this.$i18n.locale = this.user.locale
    }
}
</script>