<template>
    <div class="field">
        <label>Tag</label>
        <select id="tags" class="ui fluid multiple search selection dropdown" multiple v-model="document.tags">
            <option v-for="tag in tags" :value="tag.toLowerCase()">{{ uppercase(tag) }}</option>
        </select>
    </div>
</template>
<script type="text/javascript">

import { mapState } from 'vuex'

export default{
    computed: {
        ...mapState('document', ['document', 'tags']),
    },
    methods: {
        uppercase(tag){
            return tag.toLowerCase().split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ')
        }
    },
    mounted(){
        this.document.tags = this.document.tags ? this.document.tags : []
        $('#tags').dropdown({
            allowAdditions: true,
            onAdd: (addedValue, addedText) => {
                console.log(addedText)
                console.log(addedValue)
                addedText = this.uppercase(addedText)
                this.$store.dispatch( 'document/tag', addedText )
            }
        })
    }
}

</script>