<template>
    <div class="ui sidebar vertical left menu overlay borderless visible sidemenu" style="transition-duration: 0.1s; overflow: hidden; outline: none;" tabindex="0">
        <router-link to="/" class="item logo" style="background-color: hsla(0,0%,100%,0);">
            <img src="../assets/logo-head.png" alt="logo"><img src="../assets/logo-mini.png" alt="logo" class="displaynone">
        </router-link>
        <div class="ui divider"></div>
        <div class="ui inverted fullbar">
            <div>
                <router-link to="/documents'" class="title item"><i class="dochub titleIcon icon"></i>Documents</router-link>
            </div>
        </div>
        <div class="ui tinybar displaynone">
            <div >
                <router-link to="/documents" class="ui item scrolling" tabindex="0">
                    <i class="dochub icon"></i>
                </router-link>
            </div>
        </div>
        <div class="ui divider"></div>
        <a @click="logout" class="item">
            <i class="power off icon"></i> <span class="colhidden">Logout</span>
        </a>
    </div>
</template>
<script type="text/javascript">

import { mapState } from 'vuex'

export default{

    methods: {
        logout() {
            this.$store
                .dispatch('authentication/logout')
                .then(this.$router.push('/login'))
        },
    },

    updated(){
        $('.ui.sidebar .ui.accordion').accordion({
            selector: {}
        })
        $('.ui.sidebar .ui.dropdown').dropdown({
            allowCategorySelection: true,
            transition: "fade up"
        })
    }
}
</script>