<template>
    <div id="navigation" class="navslide navwrap">
        <div class="ui menu icon borderless grid" data-color="inverted white">
            <a class="item labeled openbtn" @click="toggleSidebar">
                <i class="bars big icon"></i>
            </a>
            <div class="right menu colhidden">
                <div class="ui dropdown item">
                    <i class="user circle big icon"></i>
                    <div class="menu" tabindex="-1">
                        <a href="/login" class="item"><i class="ion-log-out large icon"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
export default{
    methods: {
        toggleSidebar(){
            this.$store.commit('sidebar/toggle')
        },
    },

    mounted(){
        $('#navigation .ui.dropdown').dropdown()
    }
}
</script>