<template>
    <div :id="id" class="ui toggle checkbox">
        <input type="checkbox" :id="'checkbox-'+ id" >
        <label :for="'checkbox-'+ id">{{ label }}</label>
    </div>
</template>
<script type="text/javascript">
export default{
    props: ['id', 'label', 'change'],
    mounted(){
        $('#'+this.id).checkbox({
            onChecked: () => {
                this.change(true)
            },
            onUnchecked: () => {
                this.change(false)
            }
        })
    }
}
</script>