<template>
    <div :id="id" class="ui labeled icon top left pointing dropdown icon button">
        <i :class="icon + ' icon'"></i>
        <span class="text">{{ label }}</span>
        <div class="menu">
            <div v-if="label" class="item active selected" @click="select(null) " data-value="null" selected>{{ label }}</div>
            <div v-for="(element, index) in elements" class="item" @click="k ? select(element[k]) : select(index) " :data-value="k ? element[k] : index">{{ k ? element[v] : element }}</div>
        </div>
    </div>
</template>
<script type="text/javascript">
export default{
    props: ['id', 'icon', 'elements', 'select', 'k', 'v', 'label'],
    mounted(){
        $('#' + this.id).dropdown()
    }
}
</script>